body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070707;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    cursor: pointer;
    /* border-radius: 40px; */
    /* border: 2px solid #3d0a79; */
    /* background-color: #0d9b23; */
    font-size: calc(3vh + 2vw); 
    text-align: center;
    color: #8a13f3;
    margin: 0;
  }


  #clear-button-container {
    text-align: center;
    margin-top: 20px;
}

#clear-button {
    display: none;
    padding: 10px 20px;
    background-color: #ff0000; /* Adjust background color */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear-button:hover {
    background-color: #00991f; /* Adjust hover background color */
}

#logout-button,#myquotes-button{
  padding: 10px 10px;
  background-color: #3d0a79; 
  border-radius: 40px;
  color: #fff;
  font-size: calc(1vh + 1.5vw);
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: 3px solid #3d0a79;
}

#logout-button:hover,#myquotes-button:hover {
  background-color: #0d9b23; /* Adjust hover background color */
}

#add-search-quote-button{
  padding: 10px 10px;
  background-color: #3d0a79; 
  border-radius: 40px;
  color: #fff;
  font-size: calc(0.8vh + 0.8vw);
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: 3px solid #3d0a79;
}

#add-search-quote-button:hover {
  background-color: #0d9b23; /* Adjust hover background color */
}

#login-button {
  /* margin-left: 4vw; */
  padding: 10px 10px;
  background-color: #3d0a79; 
  border-radius: 40px;
  color: #fff;
  font-size: calc(1vh + 1.5vw);
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: 3px solid #3d0a79;

}

#login-button:hover {
  background-color: #0d9b23; /* Adjust hover background color */
}

  
  #navbar {
    /* border: 3px solid #3d0a79; */

    /* border-radius: 40px; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 0px;
    /* margin: 0px; */
    background-color: #333;
    color: white;
    height: fit-content;
  } 

  #navbutton{
    background-color: #333;
    color: white;
    cursor: pointer;
    padding:0px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .username {
    width: fit-content;
    /* background-color: #6f0994; */
    font-weight: bolder;
    color: white;
    font-style: oblique;
    font-size: 20px;
    /* text-align: center; */
    margin: 15px;
    text-transform: capitalize;
  }
  
  

  
 
  
  #quote-container {
    margin: 20px;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 40px;
    border: 3px solid #3d0a79;
  }
  
  #quote {
    font-style: oblique;
    font-size: calc(1vh + 1.5vw); 
    color: #c1b4b4;
  }
  
  #search-bar {
    
    margin-top: 20px;
    text-align: center;
  }
  
  #search-input {
    width: 60%;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 40px;
    border: 3px solid #3d0a79;
    font-size: calc(1vh + 1.5vw); 
    box-sizing: border-box;
    color: #fff;
  }
  
  #search-button {
    padding: 10px 20px;
    background-color: #3d0a79;
    border: 3px solid #3d0a79;
    border-radius: 40px;
    color: #fff;
    font-size: calc(1vh + 1.5vw); 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-button:hover {
    background-color: #0d9b23;
  }
  
  #refresh-button {
    font-size: calc(1vh + 1.5vw); 
    border-radius: 40px;
    border: 3px solid #3d0a79;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #3d0a79;

   
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #add-button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #3d0a79;
    
    color: #fff;
    font-size: calc(1vh + 1.5vw); 
    border-radius: 40px;
    border: 3px solid #3d0a79;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #add-button:hover {
    background-color: #0d9b23;
  }
  
  #refresh-button:hover {
    background-color: #0d9b23;
  }
  
  #author {
    font-weight: bolder;
    text-align: right;
    font-style: italic;
    font-size: calc(1vh + 1.5vw); 
    color: #c1b4b4;
  }
  
  #author-quotes-container {
    color: #c1b4b4;
    text-align: center;
    max-height: fit-content; 
    overflow-y: auto;
    margin: 20px;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 40px;
    border: 3px solid #3d0a79;
    font-size: calc(1vh + 1.5vw); 

  }

  @media (max-width: 768px) {
    .container {
         padding: 10px;
     }
 
     h1 {
         font-size: 30px;
     }


 
    .username, #quote, #author {
         font-size: 18px;
     }
 
      #quote-container, #author-quotes-container {
          margin: 10px;
      }
 
     #author-quotes-container {
         max-height: 200px;
     }
     
 }
  
  