<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/homepage.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oblivious Quotes</title>
   
  </head>
  <body>
      <nav id="navbar">
        <h1 onclick="redirectToHomePage()">Oblivious Quotes</h1>
      <button id="login-button" onclick="redirectToLoginPage()"> &#128274; Login</button>
      </nav>
      <div class="container">
      <div id="quote-container">
        <p id="quote">Loading.....</p>
        <p id="author"></p>
      </div>
      <button id="refresh-button"> &#x21bb; Refresh</button>
      </div>
      <div id="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="Search by author name"
        />
        <button id="search-button">&#128269; Search</button>
        
      </div>
      <div id="clear-button-container">
        <button id="clear-button" onclick="clearAuthorQuotes()">Clear</button>
    </div>

      <div id="author-quotes-container">Searched Author's Quotes will be displayed here

      </div>
    </div>




    
    <script>
      function redirectToHomePage() {
        window.location.href = '/';
      }

document.getElementById('search-input').addEventListener('input', function() {
    const clearButton = document.getElementById('clear-button');
    if (this.value.trim() == '') {
        clearButton.style.display = 'none';
    }
    else {
        clearButton.style.display = 'inline-block';
    }
});

      
      function clearAuthorQuotes() {
        document.getElementById('search-input').value = '';
        document.getElementById('author-quotes-container').innerHTML = 'Searched Author\'s Quotes will be displayed here';
        document.getElementById('clear-button').style.display = 'none';

      }

      function redirectToLoginPage() {
        window.location.href = '/login';
      }
      function fetchQuote() {
        document.getElementById("quote").textContent = "Loading...";
        document.getElementById("author").textContent = "";

        setTimeout(() => {
          fetch("/getQuote")
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("quote").textContent = data[0]["q"];
              document.getElementById("author").textContent =
                "~ " + data[0]["a"];
            });
        }, 50);
      }
      document
        .getElementById("refresh-button")
        .addEventListener("click", fetchQuote);
      fetchQuote();

      document.getElementById('search-button').addEventListener('click', () => {
            const author = document.getElementById('search-input').value;
            if (author.trim()!== '') {
                fetch(`/searchByAuthor?author=${encodeURIComponent(author)}`)
                   .then(response => response.json())
              
                   .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            const quoteContainer = document.getElementById('author-quotes-container');
                            quoteContainer.innerHTML = '';
                            // console.log(data.length)
                            if (data.length === 0) {
                                const noQuoteElement = document.createElement('p');
                                noQuoteElement.textContent = 'No quotes found for the author "' + author + '"';
                                quoteContainer.appendChild(noQuoteElement);
                            }   
                            data.forEach(quote => {
                                const quoteElement = document.createElement('p');
                                quoteElement.textContent = quote['q'];
                                quoteContainer.appendChild(quoteElement);
                                const authorElement = document.createElement('p');
                                authorElement.textContent = '~ ' + quote['a'];
                                quoteContainer.appendChild(authorElement);
                            });
                        }
                    });
            }
        });

    </script>
  </body>
</html>
